[Unit]
Description=Bootstrap installation
Requires=network.target
ConditionFirstBoot=yes

[Service]
ExecOnce=/usr/local/bin/__post-install

[Install]
WantedBy=multi-user.target
