[Unit]
Description=Bootstrap installation
ConditionFirstBoot=yes

[Service]
ExecStart=/usr/local/bin/__post-install

[Install]
WantedBy=graphical.target
