[Unit]
Description=Rotate the current `swww` wallpaper with spotligth wallpapers

[Service]
ExecStart=/usr/local/bin/rotate-spotlight-wallpaper

[Install]
Requires=graphical.target
